{% extends 'userbase.html' %}
{% block title %}
    <title>Health Articles</title>
{% endblock %}
{% block content %}
    <div class="well" style="color: Purple" align="center"><p>Health Articles</p></div>
			<div class="row">
                            <div class="col-md-1"></div>
			<div class="col-md-5"  style="font-size:20px">
			<p>You have to take breath in from your nose and take it out from your mouth.</p>
			<h3>There is a very simple reason for this activity to happen. Since your nose has little hair to take care which prevent the dust particles from going into your body through nose.
			And, similarly they can prevent the internal small harmful particles to come out of your body, hence, it is always advised to inhale and exhale with nose and mouth respectively!!
			This article is written by Dr. Harshit Chaturvedi. If you found it helpful thank him and do not do anything else cause we haven't provided any facilities for that.</h3>
			</div>
			<div class="col-md-5"  style="font-size:20px">
			<p>It is always advisable to drink 30 minutes after you have food.</p>
			<h3>In this era of super busyness, people tend to forget to take care of their health. They dont much care about their diet and what to eat, drink, and in what amount.
			This articles is for all those who are busy enough to not to take care of yourselves. Please read till the end otherwise you ll regret it.</h3>
			<h3>There is an old saying, the things which get schedule are the things which get done. So schedule properly, go on a real doctor website and search for right diet plan or else
			go to the gym and ask your trainer for help. This article was again written by a very famous doctor, Dr. Harshit Chaturvedi.
                        </h3>
			</div>
                            <div class="col-md-1"></div>
                  </div>
{% endblock %}