{% extends 'userbase.html' %}
{% block title %}
    <title>Home</title>
	{% load static %}
{% endblock %}
{% block content %}
    <div class="jumbotron">
		<div class="well" align="center"  style="color: Purple"><h2>Search Doctor</h2></div>
        <form method='post' action="{% url 'searchdoctors' %}">
            {% csrf_token %}
            <div class="row">
			<div class="col-md-4"  style="font-size:20px">
			<label for="carName" class="control-label col-sm-4">Speciality:</label>
			<div class="col-sm-8">
			<select name="speciality" class="form-control">
				<option>Neurosurgery</option>
				<option>Acupuncture</option>
				<option>Cardiac Surgery</option>
				<option>Dentistry</option>
				<option>Ear, Nose, and Throat</option>
				<option>Gynecologic Oncology</option>
				<option>Plastic Surgery</option>
			</select><br/>
			</div>
			<div class="row">
			<div class="col-sm-4">
			<label class="control-label col-sm-4">City:</label>
			</div>
			<div class="col-sm-8">
			<select name="city" class="form-control">
				<option>Noida</option>
				<option>Greater Noida</option>
				<option>Agra</option>
				<option>Allahabad</option>
				<option>Lucknow</option>
				<option>Jaipur</option>
				<option>Haridwar</option>
				<option>Rishikesh</option>
				<option>Shimla</option>
				<option>Ahmedabad</option>
				<option>Gwalior</option>
			</select>
			</div>
			</div>
			</div>
			<div class="col-md-2">
			<button type="Submit" class="btn btn-success"><b>Find Now</b></button>
			</div>
		</div>
            </form>
		</div>
	<div class="alert alert-info" align="center"><p>Overview of Book My Doctor</p></div>
	<div class="row">
	<div class="col-md-2">
				<img src="{% static 'img/doc2.jpg' %}" width="100" height="100">
				</div>
	<div class="col-md-2">
				<img src="{% static 'img/doc3.jpg' %}" width="100" height="100">
				</div>
	<div class="col-md-2">
				<img src="{% static 'img/doc4.jpeg' %}" width="100" height="100">
				</div>
	<div class="col-md-2">
				<img src="{% static 'img/doc5.jpeg' %}" width="100" height="100">
				</div>
	<div class="col-md-2" >
				<img src="{% static 'img/doc6.jpeg' %}" width="100" height="100">
				</div>
	<div class="col-md-2">
				<img src="{% static 'img/doc7.jpg' %}" width="100" height="100">
				</div>
				</div>
{% endblock %}