{% extends 'userbase.html' %}
{% block title %}
    <title>Change Password</title>
{% endblock %}
{% block content %}
    <br/><br/>
		<div class="well" align="center"  style="color: Purple"><h2>Change Password</h2></div>
	               <form method='post' id='form1' class="form-horizontal">
                       {% csrf_token %}
		<div class="form-group">
			<label for="name" class="control-label col-sm-2">Old Password:</label>
			<div class="col-sm-8">
                            <input type="password" class="form-control" name="oldpassword"/>
		</div></div>
		<div class="form-group">
			<label for="time" class="control-label col-sm-2">New Password:</label>
			<div class="col-sm-8">
			<input type="password" class="form-control" name="newpassword"/>
		</div>
		</div>
		<div class="form-group">
			<label for="name" class="control-label col-sm-2">Confirm New Password:</label>
			<div class="col-sm-8">
			<input type="password" class="form-control" name="confirmpassword"/>
		</div></div>
		<div class="col-sm-offset-2 col-sm-8">
		<button type="submit" class="btn btn-info"> Change Password</button>
		</div><br/><br/><br/>
		</form><hr/><br/>
{% endblock %}
